* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 3%;
    background-color: bisque;
    color: darkslategrey;
}

h1 {
    font-family: 'Lobster', cursive;
    width: fit-content;
    color: red;
    font-style: oblique;
    font-size: 3em;
    margin: 3% 0 0 47%;
    border-top: 1px solid black;
}

a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: x-large;
    background-color: rgb(13, 69, 73);
    border-radius: 10%;
    padding: 7px;
}

a:hover {
    background-color: rgb(236, 134, 0);
    transition: 0.5s;
}

img {
    border: 2px dotted black;
    padding: 10px;
    border-radius: 0 20% 0 20%;
}