div {
    width: fit-content;
    margin: 2px;
    border: 1px solid green;
}

div:nth-last-of-type(1) {
    background-color: rgb(7, 59, 59);
}

div:nth-last-of-type(2) {
    background-color: #ff00bf;
}

div:nth-last-of-type(3) {
    background-color: rgb(0, 252, 21);
}

div:nth-last-of-type(4) {
    background-color: hsl(120, 25%, 65%);
}

h1 {
    color: crimson;
}

h2 {
    color: rgb(248, 114, 4);
}

h3 {
    color: hsl(251, 100%, 50%)
}

h4 {
    color: #ffe4c4;
}