@font-face {
    font-family: 'Roboto';
    src: url(./roboto-font/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./roboto-font/Roboto-LightItalic.ttf);
    font-weight: light;
}

@font-face {
    font-family: 'Roboto';
    src: url(./roboto-font/Roboto-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

.hero_section {
    width: 100%;
    background-color: #1f2937;
    height: 400px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

nav ul {
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav p {
    font-family: 'Roboto';
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.main_hero_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

.main_hero_section p:nth-last-of-type(2) {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 450px;
}

.main_hero_section p:nth-last-of-type(1) {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    font-weight: 200;
}

.img_section {
    color: #e5e7eb;
    background-color: #6d747d;
    width: 600px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.hero_signUp_btn {
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    margin: 5px 0;
    border-radius: 4px;
    padding: 5px 30px;
    font-weight: 600;
}

.image_section>p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 35px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.card div img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
}

.cards div p {
    font-size: 22px;
    color: #092b6e;
    font-weight: 200;
    width: 200px;
    text-align: center;
}

.comment_section {
    background-color: #e5e7eb;
    height: 500px;
}

.comment_section p {
    width: 50%;
    margin: 5% auto;
    padding-top: 135px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.comment_section span {
    left: 70%;
    position: absolute;
    top: 1256px;
    font-size: 24px;
    font-weight: 800;
}

.contact_section {
    height: 130px;
    border-radius: 10px;
    width: 60%;
    margin: 100px auto;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact_section button {
    color: #e5e7eb;
    background-color: #3882f6;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 7px;
    padding: 7px 30px;
    font-weight: 600;
}

.comment1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.comment2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 200;
}

footer {
    margin: 100px 0;
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding-top: 41px;
}